@import '../../../scss-lib/mixin';
@import '../../../scss-lib/var';

#MatchesPage {
  width: 100%;
  @include flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .MatchesPages-individualMatch-div {
    width: 100vh;
    @include div-border-shadow;
    border-radius: 10px;
    @include flex;
    align-items: center;

    #user {
      @include flex;
      justify-content: space-between;
    }

    #user-details {
      width: 30vw;
    }

    #profile-button {
      @include flex;
      align-items: center;
      button {
        margin-left: 1em;
        background-color: $DUTCH_ORANGE;
        color: white;
        transition: $TRANSITION;
        border: none;
        padding: 0.25em;
        border-radius: 1em;
        &:hover {
          background-color: darken($DUTCH_ORANGE, 15%);
        }
      }
      a {
        color: $DUTCH_ORANGE;
        text-decoration: none;
        &:hover {
          color: darken($DUTCH_ORANGE, 15%);
        }
      }
    }

    img {
      margin: 1em;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}