@import '../../../scss-lib/var';

#swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#swipe-button-div {
  width: 50vw;
  height: 5em;
  padding: 0.5em;
  margin-top: -1.5em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.swipe-button {
  color: $DUTCH_ORANGE;
  background: none;
  border: none;
  font-size: 2em;
  & :hover {
    font-size: 2.1em;
    color: $DARKER_ORANGE;
  }
}


