@import '../../../scss-lib/mixin';
@import '../../../scss-lib/var';

#Profile-card {
  $mainPadding: 50px;

  --width: 80%;
  --maxWidth: 600px;
  maxHeight: 50vh;

  @include tablet() {
    --width: 46%;
    --maxWidth: 500px;

    @include flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @include pc() {
  }

	overflow-y: auto;
  overflow-x: hidden;
	padding: 2em;
  @include div-border-shadow;
  border-radius: 1em;

	iframe {
			margin-top: 2em;
	}
	.profile-header {
			color: $DUTCH_ORANGE;
	}
	ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: inherit;
			list-style-type: none;
			padding: 0;
			margin: 1.5em;
			li {
					border: 1px solid $DUTCH_ORANGE;
					border-radius: 1em;
					padding: 0.3em;
					margin: 0 0.25em 0 0.25em;
					background-color: $DUTCH_ORANGE;
					color: #ffffff;
			}
	& .profile-instruments {
			& ul & li {
			}
	}
	}
}