
label {
	font-size: 80%;
	margin-bottom: 0;
}

#profile-form {
	width: 98vw;
	max-width: 400px;
	margin: 0px auto 1em;
}

#profile-form > div, #profile-form .btn-primary {
	margin-top: 1em;
}

.validation-error {
	font-size: 80%;
	color: red;	
}