@import '../../../scss-lib/mixin';
@import '../../../scss-lib/var';
#Profile-component{
  max-width: 450px;
  max-height: 70vh;
  margin: auto;
}
#Profile-card {
  @include flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: wrap;
	overflow-y: auto;
  overflow-x: hidden;
	padding: 0 2em 2em 2em;
  @include div-border-shadow;
  border-radius: 1em;

	h1 {
    color: $DUTCH_ORANGE;
	}

	ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    list-style-type: none;
    padding: 0;
    margin: 1.5em;
    .profile-genres {
      padding: 0.4em;
      margin: 0;
      background-color: $DUTCH_ORANGE;
      color: #ffffff;
      }
	  }

  iframe {
    min-width: 100vh;
    min-height: 56vh;
  }

  .profile-info {
    @include flex;
    flex-direction: column;
    text-align: center;
  }

  div.profile-instruments-div {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    .profile-instruments {
      background: url('../../../data/musical-instruments.png') no-repeat;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: none;
      &.Piano {background-position: -150px -384px;}
      &.Guitar {background-position: -390px -562px;}
      &.Bass {background-position: -342px -143px;}
      &.Drums {background-position: -91px -141px;}
      &.Flute {background-position: -568px -203px;}
      &.Timpani {background-position: -214px -204px;}
    }
  }

}