@import './var';
$tablet_breakpoint: 720px;
$pc_breakpoint: 1280px;

@mixin tablet() {
  @media screen and (min-width: $tablet_breakpoint) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $pc_breakpoint) {
    @content;
  }
}

@mixin flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin bottom-boarder-shadow() {
  -webkit-box-shadow:0 0 4px $FONT_COLOR;
  -moz-box-shadow:0 0 4px $FONT_COLOR;
  box-shadow:0 0 4px $FONT_COLOR;
}