@import './var';
$tablet_breakpoint: 720px;
$pc_breakpoint: 1280px;

@mixin tablet() {
  @media screen and (min-width: $tablet_breakpoint) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $pc_breakpoint) {
    @content;
  }
}

@mixin flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin bottom-border-shadow() {
  -webkit-box-shadow:0 1px 0 $FONT_COLOR;
  -moz-box-shadow:0 1px 0 $FONT_COLOR;
  box-shadow:0 1px 0 $FONT_COLOR;
}

@mixin div-border-shadow() {
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
}