@import './scss-lib/mixin';
@import './scss-lib/var';
html {
  max-height: 100vh;
}
body {
  max-width: 600px;
  margin: auto;
  padding: 0 1em 0 1em;
  font-family: sans-serif;
  color: $FONT_COLOR;
  background-color: rgb(240, 240, 240);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

